*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
}

.App {
  width: 60%;
  margin: 10px auto;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.header {
  flex-basis: 80%;
}

.nav {
  flex-basis: 20%;
}

.bookmarks {
  /*! text-decoration: cornsilk; */
  background: #b8b8b8;
  width: 88px;
  margin-top: 5px;
}
.link {
  text-decoration: none;
  color: white;
  font-style: oblique;
  font-size: 17px;
}

.searchInput {
  flex-basis: 50%;
  width: 350px;
}

.searchInput-input {
  width: 600px;
  margin-left: 5px;
  border-radius: 20px;
}

.button {
  flex-basis: 50%;
  position: relative; 
  right: -308px;
}

.btn{
  width: 90px;
  height: 25px;
  margin-top: 5px;
  border-radius: 5px;
}

.allImage{
  display:flex; 
  justify-content:evenly;
  flex-wrap: wrap;
}

.image{
  img:fluid; 
  img: thumbnail;
}
